.favicon {
    height: 2em;
    width: 2em;
}

.fa-check {
    color: green;
}

.fa-times {
    color: red;
}

.fa {
    font-weight:900 !important;
}

h1 {
    text-align: center;
    width:100%;
}

.left2 {
    padding-left: 2em
}

.no-providers {
    font-weight:900;
    font-size: 2em;
    text-align: center !important;
}

img.img-icon {
    height: 2em;
    padding-right: 1em;
}

h1.mdl-layout-title {
    text-align: left;
}



header.mdl-layout__header.is-casting-shadow {
    display: block !important;
}
.mdl-layout__header-row {
    padding: 0 14px 0 1em !important;
}

footer {
    text-align: center;
}
